Host bastion
    HostName <machine1-ip>
    User ec2-user
    IdentityFile ../deployer-key.pem

Host machine1
    HostName <machine2-ip>
    User ec2-user
    IdentityFile ../deployer-key.pem
    ProxyCommand ssh -F ./ssh_config bastion -W %h:%p    

Host machine2
    HostName <machine3-ip>  
    User ec2-user
    IdentityFile ../deployer-key.pem
    ProxyCommand ssh -F ./ssh_config bastion -W %h:%p 
